body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
    position: fixed;
    text-align:left;
    overflow: hidden;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 40px;
    color: rgb(211, 18, 179);
    background-color: black;
    border-top: solid 2px  rgb(211, 18, 179);
    border-bottom: solid 2px rgb(211, 18, 179);
}

header li {
    display: table-cell;
    list-style: none;
    width: 100%;
}

header li a {
    color: rgb(211, 18, 179);
    text-decoration: none;
    padding: 10px;
    padding-left: 0px;
  }

  .log-history {
      text-decoration: underline;
  }

#myVideo {
    object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  }

  .container {
    width: 80%;
    margin: auto;
    display: flex;
    border-left: solid 1px rgb(211, 18, 179);
    margin-top: 10px;
}

.aside-2 {
    width: 20%;
    border-left: solid 1px rgb(211, 18, 179);
    padding-left: 30px;
}

.aside-2 h1 {
    margin-top: 0%;
}

h1 {
    width: 80%;
    margin: auto;
    display: flex;
    padding-bottom: 1px;
    margin-top: 60px;
}

pre {
    white-space: pre-line;
    text-align : left;
    margin-top: 0%;
 }

h1 {
    color: rgb(211, 18, 179);
    padding-left: 10px;
}
p {
    color: white;
    padding-left: 10px;
}

footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  border-top: solid 2px rgb(211, 18, 179);
  border-bottom: solid 2px rgb(211, 18, 179);
}
footer a {
    color: rgb(211, 18, 179);
    text-decoration: none;
}