body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url(pics/selfie-ny.jpg);
    background-size: 1100px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 110px;
}

header {
    display: flex;
    color: rgb(211, 18, 179);
    width: 100%;
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background-color: black;
  border: solid 2px rgb(211, 18, 179);
}

.navbar a {
    color: rgb(211, 18, 179);
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    margin: 150px;
  }

#container {
    display: flex;
}

.aside-1 {
    width: 20%;
    border: solid 1px rgb(211, 18, 179);
    padding: 10px;
    margin: 10px;
}

.aside-2 {
    width: 20%;
    border: solid 1px rgb(211, 18, 179);
    padding: 10px;
    margin: 10px;
}

p {
    color: whitesmoke;
    padding: 10px;
    margin: 10px;

}

h1 {
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: center;
    width: 100%;
}

h3 {
    color: whitesmoke;
    padding: 3px;
    margin: 3px;
    text-decoration: underline;
}

.footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  border: solid 2px rgb(211, 18, 179);
}
.footer a {
    color: rgb(211, 18, 179);
    text-decoration: none;
}