body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url(pics/selfie-ny.jpg);
    background-position-x: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    color: rgb(211, 18, 179);
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background-color: black;
  border-top: solid 2px  rgb(211, 18, 179);
  border-bottom: solid 2px rgb(211, 18, 179);
}

header li {
    display: inline-block;
    list-style: none;
}

header li a {
    color: rgb(211, 18, 179);
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    margin: 150px;
  }

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.aside-1 {
    width: 20%;
    border-right: solid 1px rgb(211, 18, 179);
    padding: 10px;
    margin: 10px;
}

.aside-2 {
    width: 20%;
    border-left: solid 1px rgb(211, 18, 179);
    padding: 10px;
    margin: 10px;
}

p {
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;

}

h1 {
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    
}

h3 {
    color: whitesmoke;
    padding: 3px;
    margin: 3px;
    text-decoration: underline;
    margin-top: 30px;
}

footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  border-top: solid 2px  rgb(211, 18, 179);
  border-bottom: solid 2px rgb(211, 18, 179);
}
footer a {
    color: rgb(211, 18, 179);
    text-decoration: none;
}